@media(max-width:640px){ 
    html{font-size: 10px;}

    label{
        cursor: pointer;
    }
    
    .nav-btn{
        display: inline-block;
    }
    header {
        flex-direction:column ;
        height: max-content;
        padding: 2%;
    }
    .nav-link{
        flex-direction: column;
    }

    #nav-check:not(:checked)~.nav-link{
    height: 0px;
    overflow: hidden;
    }

    #nav-check:checked~.nav-link{
    height: auto;
    overflow: auto;
    }
}

@media((min-width:640px) and (max-width:1007px)){
    html{font-size: 12px;}

.about-section{
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
.description-container{
    width: 100%;
}

.img-container {
    margin-bottom: 4rem ;
}

.projects-card{
    width: 100%;
}

.projects-card a{
    width: 100%;
    flex-direction: column;
    height: min-content;
}

.projects-card a img{
    width: 100%;
    height: 25rem;
    object-fit: cover;
    object-position: center 50%;
}
}